# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
chore-no-more/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
chore-no-more/coverage/clover.xml
chore-no-more/coverage/coverage-final.json
chore-no-more/coverage/lcov.info
chore-no-more/coverage/lcov-report/base.css
chore-no-more/coverage/lcov-report/block-navigation.js
chore-no-more/coverage/lcov-report/favicon.png
chore-no-more/coverage/lcov-report/index.html
chore-no-more/coverage/lcov-report/prettify.css
chore-no-more/coverage/lcov-report/prettify.js
chore-no-more/coverage/lcov-report/sort-arrow-sprite.png
chore-no-more/coverage/lcov-report/sorter.js
chore-no-more/coverage/lcov-report/src/App.js.html
chore-no-more/coverage/lcov-report/src/Dropdown.js.html
chore-no-more/coverage/lcov-report/src/index.html
chore-no-more/coverage/lcov-report/src/index.js.html
chore-no-more/coverage/lcov-report/src/mocksession.js.html
chore-no-more/coverage/lcov-report/src/Navbar.js.html
chore-no-more/coverage/lcov-report/src/reportWebVitals.js.html
chore-no-more/coverage/lcov-report/src/supabaseClient.js.html
chore-no-more/coverage/lcov-report/src/components/Chores.js.html
chore-no-more/coverage/lcov-report/src/components/GoogleSignIn.js.html
chore-no-more/coverage/lcov-report/src/components/Groups.js.html
chore-no-more/coverage/lcov-report/src/components/index.html
chore-no-more/coverage/lcov-report/src/components/SignIn.js.html
chore-no-more/coverage/lcov-report/src/components/SignOut.js.html
chore-no-more/coverage/lcov-report/src/components/Stylesheet.js.html
chore-no-more/coverage/lcov-report/src/components/TaskChores.js.html
chore-no-more/coverage/lcov-report/src/pages/HowToUse.js.html
chore-no-more/coverage/lcov-report/src/pages/index.html
