.App {
  text-align: center;
}

* {
  background-color: beige;
}
.App-header {
  background-color: #383e49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(224, 11, 11);
}

.App-link {
  color: #02141a;
}



.page-break {
  position: absolute;
  background-color: tan;
  width: 2px;
  top: 100px;
  bottom: 300px;
  left: 50%;
}

.welcome {
  color: black;
}

.header {
  background-color: tan;
  font-weight: bold;
}

.create-account {
  background-color: tan;
  
  position: relative;
  top: 100px;
  right: 250px;
  
  border-radius: 25px;
  border: 1px solid black; /*sets border thickness to 1 pixel, solid line, red*/
  height: 120px; /* height of box model is taller */
  width: 300px; /* width is 300 pixels instead of spanning the entire line*/
  padding: 20px; /*adds spacing between content and border*/
  margin: 20px; /*adds space outside the border*/
}

.sign-in {

  background-color: tan;

  position: relative;
  bottom: 80px;
  left: 270px;

  border-radius: 25px;
  border: 1px solid black; /*sets border thickness to 1 pixel, solid line, red*/
  height: 120px; /* height of box model is taller */
  width: 300px; /* width is 300 pixels instead of spanning the entire line*/
  padding: 20px; /*adds spacing between content and border*/
  margin: 20px; /*adds space outside the border*/
}

.button {
  background-color: lightgrey;
  position: relative;
  bottom: 400px;
  left: 400px;
}



