.App {
  text-align: center;

}

.App-header {
  background-color: #383e49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(224, 11, 11);
}

.App-link {
  color: #02141a;
}

.welcome {
  color: black;
}

.header {
  font-size: 30;
  background-color: tan;
  font-weight: bold;
}

.create-account {

  background-color: tan;

  position: absolute;
  top: 200px;
  align-items: center;

  border-radius: 25px;
  border: 1px solid black; /*sets border thickness to 1 pixel, solid line, red*/
  height: 200px; /* height of box model is taller */
  width: 300px; /* width is 300 pixels instead of spanning the entire line*/
  padding: 20px; /*adds spacing between content and border*/
  margin: 20px; /*adds space outside the border*/
}

.sign-in {

  background-color: tan;

  position: absolute;
  top: 200px;
  align-items: center;

  border-radius: 25px;
  border: 1px solid black; /*sets border thickness to 1 pixel, solid line, red*/
  height: 200px; /* height of box model is taller */
  width: 300px; /* width is 300 pixels instead of spanning the entire line*/
  padding: 20px; /*adds spacing between content and border*/
  margin: 20px; /*adds space outside the border*/
}

.ErrorPage {
  text-align: center;
  color: red;
  font-size: xx-large;
  font-weight: bold;
}

#sign-up {
  color: #383e49;
}

.button1 {
  background-color: lightgrey;
  position: absolute;
  top: 50px;
  right: 20px;
}

#todo {
  position: absolute;
  top: 100px;
  left: 130px;

}

#list1 {
  position: absolute;
  top: 200px;
  left: 140px;
}
#list2 {
  position: absolute;
  top: 470px;
  left: 140px;
}

#comp {
  position: absolute;
  top: 400px;
  left: 100px;
}