.App {
  text-align: center;

}




.page-break {
  position: absolute;
  background-color: tan;
  width: 2px;
  top: 200px;
  bottom: 70px;
  left: 50%;
}

.create-account {
  background-color: tan;
  
  position: absolute;
  top: 200px;
  left: 130px;
  
  border-radius: 25px;
  border: 1px solid black; /*sets border thickness to 1 pixel, solid line, red*/
  height: 300px; /* height of box model is taller */
  width: 300px; /* width is 300 pixels instead of spanning the entire line*/
  padding: 20px; /*adds spacing between content and border*/
  margin: 20px; /*adds space outside the border*/
}

.sign-in {

  background-color: tan;

  position: absolute;
  top: 200px;
  right: 130px;

  border-radius: 25px;
  border: 1px solid black; /*sets border thickness to 1 pixel, solid line, red*/
  height: 300px; /* height of box model is taller */
  width: 300px; /* width is 300 pixels instead of spanning the entire line*/
  padding: 20px; /*adds spacing between content and border*/
  margin: 20px; /*adds space outside the border*/
}

#create-account-button {
  position: absolute;
  top: 500px;
  left: 270px;
}

#sign-in-button {
  position: absolute;
  top: 500px;
  right: 290px;
}

.gsign-in {
  background-color: lightgrey;
  position: absolute;
  top: 80px;
  right: 35px;
}

#sign-out {
  background-color: #333 !important;
  color: white;
  position: relative;
  top: 20px;
}

.chores-display {
  position: relative;
  left: 300px;
  top: 50px;

  display: flexbox;
  overflow: scroll;
  border: 1px solid black; /*sets border thickness to 1 pixel, solid line, red*/
  height: 500px; /* height of box model is taller */
  width: 400px; /* width is 300 pixels instead of spanning the entire line*/
  padding: 0; /*adds spacing between content and border*/
  margin: 20px; /*adds space outside the border*/
}

.users-display {
  position: relative;
  right: 300px;
  bottom: 470px;
  display: flexbox;
  overflow: scroll;
  border: 1px solid black; /*sets border thickness to 1 pixel, solid line, red*/
  height: 300px; /* height of box model is taller */
  width: 500px; /* width is 300 pixels instead of spanning the entire line*/
  padding: 0; /*adds spacing between content and border*/
  margin: 20px; /*adds space outside the border*/
}

.header {
  flex-shrink: 0;
  margin: 0;
  width: 100%;
  font-size: 50;
  font-weight: bold;
  justify-content: center;
  position: absolute;
  top: 0px;
  border-bottom: 1px solid black;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;

}

.body {
  padding-top: 20px;
  margin-top: 40px;
  display: grid;
  position: absolute;
  width: 100%;
  top: 10px;
  bottom: 10%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  overflow: auto;
  
  

}

.body2 {
  padding-top: 40px;
  margin-top: 40px;
  display: list-item;
  position: absolute;
  width: 100%;
  top: 10px;
  bottom: 10%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  overflow: auto;
  
  

}
.footer {
  flex-shrink: 0;
  margin: 0;
  width: 100%;
  font-size: 50;
  border-top: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0px;
  z-index: 2;


}

.divider {
  width: 15px;
  height: auto;
  display: inline-block;
}

#addMember {
  
}

h1,h2,h3 {
  margin: 0;
}


nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}


/* smoothie grid */
.chore-grid {
  
}
.chore-card {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.chore-card .buttons {
  text-align: center;
}
.chore-card i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

/* forms */
form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input, form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}

